<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Mana
@package     Mana_AttributePage
@copyright   Copyright (c) http://www.manadev.com
@license     http://www.manadev.com/license  Proprietary License
 -->
<config>
    <modules>
        <Mana_AttributePage>
            <version>13.11.12.15</version>
        </Mana_AttributePage>
    </modules>
    <global>
        <helpers>
            <mana_attributepage>
                <class>Mana_AttributePage_Helper</class>
            </mana_attributepage>
        </helpers>
        <blocks>
            <mana_attributepage>
                <class>Mana_AttributePage_Block</class>
            </mana_attributepage>
        </blocks>
        <models>
            <mana_attributepage>
                <class>Mana_AttributePage_Model</class>
                <resourceModel>mana_attributepage_resources</resourceModel>
            </mana_attributepage>
            <mana_attributepage_resources>
                <class>Mana_AttributePage_Resource</class>
                <entities>
					<attributePage_global><table>m_attribute_page_global</table></attributePage_global>
					<attributePage_globalCustomSettings><table>m_attribute_page_global_custom_settings</table></attributePage_globalCustomSettings>
					<attributePage_store><table>m_attribute_page_store</table></attributePage_store>
					<attributePage_storeCustomSettings><table>m_attribute_page_store_custom_settings</table></attributePage_storeCustomSettings>
					<optionPage_global><table>m_option_page_global</table></optionPage_global>
					<optionPage_globalCustomSettings><table>m_option_page_global_custom_settings</table></optionPage_globalCustomSettings>
					<optionPage_store><table>m_option_page_store</table></optionPage_store>
					<optionPage_storeCustomSettings><table>m_option_page_store_custom_settings</table></optionPage_storeCustomSettings>
                </entities>
            </mana_attributepage_resources>
        </models>
        <resources>
            <mana_attributepage_setup>
                <setup>
                    <module>Mana_AttributePage</module>
                </setup>
            </mana_attributepage_setup>
        </resources>
        <index>
            <indexer>
                <mana_attribute_page translate="name description" module="mana_attributepage">
                    <model>mana_attributepage/attributePage_indexer</model>
                    <name>Attribute Pages (MANAdev)</name>
                    <description>Recalculates attribute page global and store-level settings</description>
                </mana_attribute_page>
                <mana_option_page translate="name description" module="mana_attributepage">
                    <model>mana_attributepage/optionPage_indexer</model>
                    <name>Option Pages (MANAdev)</name>
                    <description>Recalculates option page global and store-level settings</description>
                    <depends>
                        <mana_attribute_page/>
                    </depends>
                </mana_option_page>
                <mana_seo_url>
                    <sources>
                        <option_page><resource>mana_attributepage/optionPage_urlIndexer</resource></option_page>
                        <attribute_page><resource>mana_attributepage/attributePage_urlIndexer</resource></attribute_page>
                    </sources>
                    <depends>
                        <mana_attribute_page/>
                        <mana_option_page/>
                    </depends>
                </mana_seo_url>
            </indexer>
        </index>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Mana_AttributePage>
                    <files>
                        <default>Mana_AttributePage.csv</default>
                    </files>
                </Mana_AttributePage>
            </modules>
        </translate>
        <layout>
            <updates>
                <mana_attributepage>
                    <file>mana_attributepage.xml</file>
                </mana_attributepage>
            </updates>
        </layout>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <mana_attributepage>
                        <class>mana_attributepage/observer</class>
                        <method>loadDynamicMenuItems</method>
                    </mana_attributepage>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <mana>
                <args>
                    <modules>
                        <mana_attributepage before="Mana_Core">Mana_AttributePage</mana_attributepage>
                    </modules>
                </args>
            </mana>
        </routers>
        <layout>
            <updates>
                <mana_attributepage module="Mana_AttributePage">
                    <file>mana_attributepage.xml</file>
                </mana_attributepage>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mana_attributepage before="Mage_Adminhtml">Mana_AttributePage_Adminhtml</mana_attributepage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <mana_core>
        <page_types>
            <option_page>
                <helper>mana_attributepage/pageType_optionPage</helper>
                <seo_helper>mana_attributepage/pageType_optionPage</seo_helper>
            </option_page>
            <attribute_page>
                <helper>mana_attributepage/pageType_attributePage</helper>
                <seo_helper>mana_attributepage/pageType_attributePage</seo_helper>
            </attribute_page>
        </page_types>
    </mana_core>
</config>