<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Mana
@package     Mana_AttributePage
@copyright   Copyright (c) http://www.manadev.com
@license     http://www.manadev.com/license  Proprietary License
 -->
<config>
    <tabs>
        <mana>
            <label>MANAdev</label>
            <sort_order>250</sort_order>
        </mana>
    </tabs>
    <sections>
        <mana_attributepage translate="label" module="mana_attributepage">
            <label>Attribute and Option Pages</label>
            <tab>mana</tab>
            <frontend_type>text</frontend_type>
            <sort_order>900</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <attribute_page_title translate="label">
                    <label>Attribute Page Titles</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <template translate="label comment">
                            <label>Template</label>
                            <comment>Allowed variable is {{attribute_labels}} which adds labels of all selected attributes separated as specified below</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </template>
                        <separator translate="label comment">
                            <label>Separated By</label>
                            <comment>Attribute labels are separated by this separator</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </separator>
                        <last_separator translate="label comment">
                            <label>Last Label Separated By</label>
                            <comment>If not empty, last attribute label is separated by this separator</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </last_separator>
                    </fields>
                </attribute_page_title>
                <option_page_title translate="label">
                    <label>Option Page Titles</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <template translate="label comment">
                            <label>Template</label>
                            <comment>Allowed variable is {{option_labels}} which adds labels of all selected options separated as specified below</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </template>
                        <separator translate="label comment">
                            <label>Separated By</label>
                            <comment>Option labels are separated by this separator</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </separator>
                        <last_separator translate="label comment">
                            <label>Last Label Separated By</label>
                            <comment>If not empty, last option label is separated by this separator</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </last_separator>
                    </fields>
                </option_page_title>
            </groups>
        </mana_attributepage>
    </sections>
</config>