<?xml version="1.0" encoding="UTF-8"?>
<!-- This file defines fields to be added to System Configuration page in administrator -->
<config>
    <sections>
        <local_manadev module="local_manadev">
            <label>manadev.com</label>
            <tab>mana</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <downloads>
                    <label>Downloads</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <thank_you_page translate="label">
                            <label>Thank You Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_cms_page</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If not set, customer will be redirected to home page</comment>
                        </thank_you_page>
					</fields>
				</downloads>
                <accounting translate="label">
                    <label>Accounting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <convert translate="label">
                            <label>Is Conversion to LTL Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </convert>
                        <recalculate translate="label">
                            <label>Recalculation Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </recalculate>
                        <delete_creditmemo translate="label">
                            <label>Allow deleting Credit Memos</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </delete_creditmemo>
                        <!--<eu_country_ids translate="label comment">
                            <label>European Union Country Ids</label>
                            <comment>Format: first line - country codes separated by ',', further lines (orders by date in descending order): [date_until_valid]:country codes separated by ','</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </eu_country_ids>
                        <timezone translate="label comment">
                            <label>Accounting Time Zone</label>
                            <comment>Format: first line - current time zone or empty for server time zone, further lines (orders by date in descending order): [date_until_valid]:time zone or empty for server time zone</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </timezone>-->
                        <invoice_template translate="label comment">
                            <label>Invoice Template</label>
                            <comment>Format: first line - current value, further lines (orders by date in descending order): [date_until_valid]:template name</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </invoice_template>
                        <!--<invoice_date translate="label comment">
                            <label>Invoice Date</label>
                            <comment>Format: each line: invoice date: order date from-order date to</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </invoice_date>-->
                        <service_account translate="label comment">
                            <label>Service Account</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </service_account>
                        <product_account translate="label comment">
                            <label>Product Account</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_account>
                    </fields>
                </accounting>
            </groups>
		</local_manadev>
        <local_manadev_emails>
            <label>manadev.com Emails</label>
            <tab>mana</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10001</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <new_request_to_customer>
                    <label>Email to Customer That We Received His/Her Request</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <identity translate="label">
                            <label>Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </identity>
                        <template translate="label">
                            <label>Template File</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </template>
                        <copy_to translate="label comment">
                            <label>Send Email Copy To</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Comma-separated.</comment>
                        </copy_to>
                        <copy_method translate="label">
                            <label>Send Email Copy Method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_method</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </copy_method>
					</fields>
				</new_request_to_customer>
                <new_request_to_owner>
                    <label>Email to Owner About New Request</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1010</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <identity translate="label">
                            <label>Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </identity>
                        <template translate="label">
                            <label>Template File</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </template>
                        <to translate="label comment">
                            <label>Send Email To</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Comma-separated.</comment>
                        </to>
                        <copy_to translate="label comment">
                            <label>Send Email Copy To</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Comma-separated.</comment>
                        </copy_to>
                        <copy_method translate="label">
                            <label>Send Email Copy Method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_method</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </copy_method>
					</fields>
				</new_request_to_owner>
			</groups>
		</local_manadev_emails>
		<customer>
			<groups>
				<address_templates>
					<fields>
                        <pdf>
                            <label>PDF (EN)</label>    
                            <frontend_type>textarea</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </pdf>
                        <pdf_lt>
                            <label>PDF (LT)</label>    
                            <frontend_type>textarea</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </pdf_lt>
					</fields>
				</address_templates>
			</groups>
		</customer>
		<sales>
			<groups>
				<identity>
					<fields>
                        <address translate="label">
                            <label>Address (EN)</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </address>
                        <address_lt translate="label">
                            <label>Address (LT)</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </address_lt>
					</fields>
				</identity>
			</groups>
		</sales>
	</sections>
</config>