<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Mana
@package     Mana_InfiniteScrolling
@copyright   Copyright (c) http://www.manadev.com
@license     http://www.manadev.com/license  Proprietary License
 -->
<config>
    <modules>
        <Mana_InfiniteScrolling>
            <version>14.05.17.11</version>
        </Mana_InfiniteScrolling>
    </modules>
    <global>
        <helpers>
            <mana_infinitescrolling>
                <class>Mana_InfiniteScrolling_Helper</class>
            </mana_infinitescrolling>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates module="Mana_InfiniteScrolling">
                <mana_infinitescrolling>
                    <file>mana_infinitescrolling.xml</file>
                </mana_infinitescrolling>
            </updates>
        </layout>
    </frontend>
</config>