<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Mana
@package     ManaPro_FilterCheckboxes
@copyright   Copyright (c) http://www.manadev.com
@license     http://www.manadev.com/license  Proprietary License
 -->
<!-- BASED ON SNIPPET: New Module/etc/config.xml -->
<config>
	<!-- This section registers module with Magento system. -->
	<modules>
		<ManaPro_FilterCheckboxes>
		  	<!-- This version number identifies version of database tables specific to this extension. It is written to
		  	core_resource table.  -->
		    <version>14.06.13.09</version>
		</ManaPro_FilterCheckboxes>
	</modules>
	<!-- This section contains module settings which are merged into global configuration during each page load, 
	each ajax request. -->
	<global>
		<!-- This section registers helper classes to be accessible through Mage::helper() method. ManaPro_FilterCheckboxes_Helper_Data
		class is accessible through Mage::helper('manapro_filtercheckboxes') call, other ManaPro_FilterCheckboxes_Helper_XXX_YYY classes are accessible 
		through  Mage::helper('manapro_filtercheckboxes/xxx_yyy') call. -->
		<helpers>
			<manapro_filtercheckboxes>
				<!-- This says that string 'manapro_filtercheckboxes' corresponds to ManaPro_FilterCheckboxes_Helper pseudo-namespace in 
				Mage::helper() calls. -->
				<class>ManaPro_FilterCheckboxes_Helper</class>
			</manapro_filtercheckboxes>
		</helpers>
		<!-- INSERT HERE: blocks, models, ... -->
	</global>
	<!-- BASED ON SNIPPET: Static Visuals/Adminhtml section (config.xml) -->
	<!-- This section enables static visual changes in admin area. -->
	<adminhtml>
		<!-- BASED ON SNIPPET: Translation support/Adminhtml (config.xml) -->
		<!-- This section registers additional translation file with our module-specific strings to be loaded 
		during admin area request processing -->
		<translate>
			<modules>
				<ManaPro_FilterCheckboxes>
					<files>
						<default>ManaPro_FilterCheckboxes.csv</default>
					</files>
				</ManaPro_FilterCheckboxes>
			</modules>
		</translate>
		<!-- INSERT HERE: layout, translate, routers -->
	</adminhtml>
	<!-- BASED ON SNIPPET: Static Visuals/Frontend section (config.xml) -->
	<!-- This section enables static visual changes in store frontend. -->
	<frontend>
		<!-- BASED ON SNIPPET: Static Visuals/Layout file support (config.xml) -->
		<!-- This section registers additional layout XML file with our module-specific layout changes to be loaded
		and executes during page rendering. -->
		<layout>
			<updates>
				<manapro_filtercheckboxes>
					<file>manapro_filtercheckboxes.xml</file>
				</manapro_filtercheckboxes>
			</updates>
		</layout>
		<!-- INSERT HERE: layout, translate, routers -->
	</frontend>
	<!-- INSERT HERE: adminhtml, frontend, ... -->
	
	<!-- This section extends Mana_Filters module functionality --> 
	<mana_filters>
		<display><!-- display options for individual filters -->
			<attribute> <!-- available display options for attribute-based filters -->
				<checkboxes translate="title" module="manapro_filtercheckboxes">
					<title>Checkboxes (Form Elements)</title><!-- this one is displayed in admin -->
					<block>mana_filters/filter</block>
					<model>mana_filters/filter_attribute</model>
                    <solr_model>mana_filters/solr_attribute</solr_model>
                    <solr_and_model>mana_filters/solr_and_attribute</solr_and_model>
                    <solr_reverse_model>mana_filters/solr_reverse_attribute</solr_reverse_model>
                    <resource>mana_filters/filter_attribute</resource>
					<and_resource>mana_filters/filter_and_attribute</and_resource>
					<reverse_resource>mana_filters/filter_reverse_attribute</reverse_resource>
					<template>manapro/filtercheckboxes/items.phtml</template><!-- PHTML to be rendered -->
					<sort_order>200</sort_order><!-- Position in "Display as" list. The item with least position is the default one. -->
					<popup_class>Mana/LayeredNavigation/Popup/Checkbox</popup_class>
				</checkboxes>
				<css_checkboxes translate="title" module="manapro_filtercheckboxes">
					<title>Checkboxes (Images)</title><!-- this one is displayed in admin -->
					<block>mana_filters/filter</block>
					<model>mana_filters/filter_attribute</model>
                    <solr_model>mana_filters/solr_attribute</solr_model>
                    <solr_and_model>mana_filters/solr_and_attribute</solr_and_model>
                    <solr_reverse_model>mana_filters/solr_reverse_attribute</solr_reverse_model>
                    <resource>mana_filters/filter_attribute</resource>
					<and_resource>mana_filters/filter_and_attribute</and_resource>
					<reverse_resource>mana_filters/filter_reverse_attribute</reverse_resource>
					<template>manapro/filtercheckboxes/cssitems.phtml</template><!-- PHTML to be rendered -->
					<sort_order>230</sort_order><!-- Position in "Display as" list. The item with least position is the default one. -->
                    <popup_class>Mana/LayeredNavigation/Popup/CssCheckbox</popup_class>
                </css_checkboxes>
			</attribute>
			<price> <!-- available display options for price filter -->
				<checkboxes translate="title" module="manapro_filtercheckboxes">
					<title>Checkboxes (Form Elements)</title><!-- this one is displayed in admin -->
					<block>mana_filters/filter</block>
					<model>mana_filters/filter_price</model>
					<solr_model>mana_filters/solr_price</solr_model>
					<solr_reverse_model>mana_filters/solr_reverse_price</solr_reverse_model>
					<resource>mana_filters/filter_price</resource>
					<reverse_resource>mana_filters/filter_reverse_price</reverse_resource>
					<template>manapro/filtercheckboxes/items.phtml</template><!-- PHTML to be rendered -->
					<sort_order>200</sort_order><!-- Position in "Display as" list. The item with least position is the default one. -->
                    <popup_class>Mana/LayeredNavigation/Popup/Checkbox</popup_class>
                </checkboxes>
				<css_checkboxes translate="title" module="manapro_filtercheckboxes">
					<title>Checkboxes (Images)</title><!-- this one is displayed in admin -->
					<block>mana_filters/filter</block>
					<model>mana_filters/filter_price</model>
					<solr_model>mana_filters/solr_price</solr_model>
					<solr_reverse_model>mana_filters/solr_reverse_price</solr_reverse_model>
					<resource>mana_filters/filter_price</resource>
					<reverse_resource>mana_filters/filter_reverse_price</reverse_resource>
					<template>manapro/filtercheckboxes/cssitems.phtml</template><!-- PHTML to be rendered -->
					<sort_order>230</sort_order><!-- Position in "Display as" list. The item with least position is the default one. -->
                    <popup_class>Mana/LayeredNavigation/Popup/CssCheckbox</popup_class>
                </css_checkboxes>
			</price>
			<decimal> <!-- available display options for price type filter -->
				<checkboxes translate="title" module="manapro_filtercheckboxes">
					<title>Checkboxes (Form Elements)</title><!-- this one is displayed in admin -->
					<block>mana_filters/filter</block>
                    <model>mana_filters/filter_decimal</model>
                    <solr_model>mana_filters/solr_decimal</solr_model>
                    <solr_reverse_model>mana_filters/solr_reverse_decimal</solr_reverse_model>
                    <resource>mana_filters/filter_decimal</resource>
                    <reverse_resource>mana_filters/filter_reverse_decimal</reverse_resource>
                    <template>manapro/filtercheckboxes/items.phtml</template><!-- PHTML to be rendered -->
					<sort_order>200</sort_order><!-- Position in "Display as" list. The item with least position is the default one. -->
                    <popup_class>Mana/LayeredNavigation/Popup/Checkbox</popup_class>
                </checkboxes>
				<css_checkboxes translate="title" module="manapro_filtercheckboxes">
					<title>Checkboxes (Images)</title><!-- this one is displayed in admin -->
					<block>mana_filters/filter</block>
					<model>mana_filters/filter_decimal</model>
                    <solr_model>mana_filters/solr_decimal</solr_model>
                    <solr_reverse_model>mana_filters/solr_reverse_decimal</solr_reverse_model>
                    <resource>mana_filters/filter_decimal</resource>
                    <reverse_resource>mana_filters/filter_reverse_decimal</reverse_resource>
                    <template>manapro/filtercheckboxes/cssitems.phtml</template><!-- PHTML to be rendered -->
					<sort_order>230</sort_order><!-- Position in "Display as" list. The item with least position is the default one. -->
                    <popup_class>Mana/LayeredNavigation/Popup/CssCheckbox</popup_class>
                </css_checkboxes>
			</decimal>
		</display>
	
	</mana_filters>
    <default>
        <mana_filters>
            <display>
                <attribute>css_checkboxes</attribute>
            </display>
        </mana_filters>
    </default>
</config>