<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Mana
@package     ManaPro_FilterHelp
@copyright   Copyright (c) http://www.manadev.com
@license     http://www.manadev.com/license  Proprietary License
 -->
<config>
    <!-- This section activates module in Magento system. -->
    <modules>
        <ManaPro_FilterHelp>
            <!-- This actually an activation instruction. You can set it to false to temporarily deactivate module (
        	in this case Magento will behave as if module does not exist). -->
            <active>true</active>
            <!-- This instructs Magento to search for module code in app/code/local directory. -->
            <codePool>local</codePool>
            <depends>
                <ManaPro_FilterAdvanced />
            </depends>
        </ManaPro_FilterHelp>
    </modules>
</config>