<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Mana
@package     ManaPro_Content
@copyright   Copyright (c) http://www.manadev.com
@license     http://www.manadev.com/license  Proprietary License
 -->
<config>
    <modules>
        <ManaPro_Content>
            <active>true</active>
            <codePool>local</codePool>
            <depends>
                <Mana_Content/>
            </depends>
        </ManaPro_Content>
    </modules>
</config>