<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Mana
@package     ManaProduct_Tag
@copyright   Copyright (c) http://www.manadev.com
@license     http://www.manadev.com/license  Proprietary License
 -->
<config>
    <tabs>
        <mana>
            <label>MANAdev</label>
            <sort_order>250</sort_order>
        </mana>
    </tabs>
    <sections>
        <manaproduct_tag translate="label" module="manaproduct_tag">
            <label>Product Tags</label>
            <tab>mana</tab>
            <frontend_type>text</frontend_type>
            <sort_order>500</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <design translate="label">
                    <label>Design</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <size_based_css_class translate="label">
                            <label>Size-Based CSS Class Name</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </size_based_css_class>
                    </fields>
                </design>
            </groups>
        </manaproduct_tag>
    </sections>
</config>