<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Mana
@package     ManaPro_Content
@copyright   Copyright (c) http://www.manadev.com
@license     http://www.manadev.com/license  Proprietary License
 -->
<config>
    <modules>
        <ManaPro_Content>
            <version>14.11.14.16</version>
        </ManaPro_Content>
    </modules>
    <global>
        <blocks>
            <manapro_content>
                <class>ManaPro_Content_Block</class>
            </manapro_content>
        </blocks>
        <helpers>
            <manapro_content>
                <class>ManaPro_Content_Helper</class>
            </manapro_content>
        </helpers>
        <models>
            <manapro_content>
                <class>ManaPro_Content_Model</class>
                <resourceModel>manapro_content_resources</resourceModel>
            </manapro_content>
            <manapro_content_resources>
                <class>ManaPro_Content_Resource</class>
            </manapro_content_resources>
        </models>
        <events>
            <core_block_abstract_prepare_layout_after><!-- this is event name this module listens for -->
                <observers>
                    <manapro_content>
                        <class>manapro_content/observer</class>
                        <!-- model name of class containing event handler methods -->
                        <method>addDataToTabContainer</method>
                        <!-- event handler method name -->
                    </manapro_content>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <m_load_related_products>
                <observers>
                    <manapro_content>
                        <class>manapro_content/observer</class>
                        <method>processRelatedProductIds</method>
                    </manapro_content>
                </observers>
            </m_load_related_products>
            <m_saved>
                <observers>
                    <manapro_content>
                        <class>manapro_content/observer</class>
                        <method>saveRelatedProducts</method>
                    </manapro_content>
                </observers>
            </m_saved>
            <m_validate>
                <observers>
                    <manapro_content>
                        <class>manapro_content/observer</class>
                        <method>validateTags</method>
                    </manapro_content>
                </observers>
            </m_validate>
            <m_content_tree_options>
                <observers>
                    <manapro_content>
                        <class>manapro_content/observer</class>
                        <method>enableCopyAndReference</method>
                    </manapro_content>
                </observers>
            </m_content_tree_options>

        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <ManaPro_Content>
                    <files>
                        <default>ManaPro_Content.csv</default>
                    </files>
                </ManaPro_Content>
            </modules>
        </translate>
        <layout>
            <updates>
                <manapro_content>
                    <file>manapro_content.xml</file>
                </manapro_content>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <manapro_content>
                    <file>manapro_content.xml</file>
                </manapro_content>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <manapro_content before="Mage_Adminhtml">ManaPro_Content_Adminhtml</manapro_content>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>