<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Mana
@package     ManaPro_FilterContent
@copyright   Copyright (c) http://www.manadev.com
@license     http://www.manadev.com/license  Proprietary License
 -->
<config>
    <modules>
        <ManaPro_FilterContent>
            <active>true</active>
            <codePool>local</codePool>
            <depends>
                <ManaPro_FilterAdmin/>
            </depends>
        </ManaPro_FilterContent>
    </modules>
</config>