<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Mana
@package     Mana_Widget
@copyright   Copyright (c) http://www.manadev.com
@license     http://www.manadev.com/license  Proprietary License
 -->
<config>
    <!-- This section registers module with Magento system. -->
    <modules>
        <Mana_Widget>
            <!-- This version number identifies version of database tables specific to this extension. It is written to
		  	core_resource table.  -->
            <version>13.01.07.15</version>
        </Mana_Widget>
    </modules>
    <!-- This section contains module settings which are merged into global configuration during each page load, 
	each ajax request. -->
    <global>
        <!-- This section registers helper classes to be accessible through Mage::helper() method. Mana_Widget_Helper_Data
		class is accessible through Mage::helper('mana_widget') call, other Mana_Widget_Helper_XXX_YYY classes are accessible 
		through  Mage::helper('mana_widget/xxx_yyy') call. -->
        <helpers>
            <mana_widget>
                <!-- This says that string 'mana_widget' corresponds to Mana_Widget_Helper pseudo-namespace in 
				Mage::helper() calls. -->
                <class>Mana_Widget_Helper</class>
            </mana_widget>
        </helpers>

        <!-- This section registers model classes to be accessible through Mage::getModel('<model type>') and through
            Mage::getSingleton('<model type>') calls. That is, Mana_Widget_Model_XXX_YYY classes are accessible as
            'mana_widget/xxx_yyy' type strings both in getModel() and getSingleton() calls. -->
        <models>
            <!-- This says that string 'mana_widget' corresponds to Mana_Widget_Model pseudo-namespace in
                getModel() and getSingleton() calls. -->
            <mana_widget>
                <class>Mana_Widget_Model</class>
                <!-- INSERT HERE: resource section name -->
            </mana_widget>

            <widget>
                <rewrite>
                    <widget>Mana_Widget_Model_Widget</widget>
                    <widget_instance>Mana_Widget_Model_Widget_Instance</widget_instance>
                </rewrite>
            </widget>
        </models>
    </global>
    <!-- INSERT HERE: adminhtml, frontend, ... -->
</config>