<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Mana
@package     ManaPro_FilterContent
@copyright   Copyright (c) http://www.manadev.com
@license     http://www.manadev.com/license  Proprietary License
 -->
<config>
    <modules>
        <ManaPro_FilterContent>
            <version>14.03.27.14</version>
        </ManaPro_FilterContent>
    </modules>
    <global>
        <helpers>
            <manapro_filtercontent>
                <class>ManaPro_FilterContent_Helper</class>
            </manapro_filtercontent>
        </helpers>
        <models>
            <manapro_filtercontent>
                <class>ManaPro_FilterContent_Model</class>
                <resourceModel>manapro_filtercontent_resources</resourceModel>
            </manapro_filtercontent>
            <manapro_filtercontent_resources>
                <class>ManaPro_FilterContent_Resource</class>
                <entities>
					<rule_global><table>m_filter_content_rule_global</table></rule_global>
					<rule_globalCustomSettings><table>m_filter_content_rule_global_custom_settings</table></rule_globalCustomSettings>
					<rule_store><table>m_filter_content_rule_store</table></rule_store>
					<rule_storeCustomSettings><table>m_filter_content_rule_store_custom_settings</table></rule_storeCustomSettings>
					<rule_condition><table>m_filter_content_rule_condition</table></rule_condition>
                </entities>
            </manapro_filtercontent_resources>
        </models>
        <resources>
            <manapro_filtercontent_setup>
                <setup>
                    <module>ManaPro_FilterContent</module>
                </setup>
            </manapro_filtercontent_setup>
        </resources>
        <blocks>
            <manapro_filtercontent>
                <class>ManaPro_FilterContent_Block</class>
            </manapro_filtercontent>
        </blocks>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <manapro_filtercontent>
                    <file>manapro_filtercontent.xml</file>
                </manapro_filtercontent>
            </updates>
            <translate>
                <modules>
                    <ManaPro_FilterContent>
                        <files>
                            <default>ManaPro_FilterContent.csv</default>
                        </files>
                    </ManaPro_FilterContent>
                </modules>
            </translate>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <manapro_filtercontent before="Mage_Adminhtml">ManaPro_FilterContent_Adminhtml</manapro_filtercontent>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <events>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <manapro_filtercontent>
                        <class>manapro_filtercontent/observer</class>
                        <method>addCustomContentToLayoutXml</method>
                    </manapro_filtercontent>
                </observers>
            </controller_action_layout_generate_xml_before>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <manapro_filtercontent>
                        <class>manapro_filtercontent/observer</class>
                        <method>addCustomContentToGeneratedBlocks</method>
                    </manapro_filtercontent>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <core_block_abstract_to_html_before>
                <observers>
                    <manapro_filtercontent>
                        <class>manapro_filtercontent/observer</class>
                        <method>addCustomContentToBlockBeforeRendering</method>
                    </manapro_filtercontent>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <manapro_filtercontent>
                        <class>manapro_filtercontent/observer</class>
                        <method>restoreOriginalBlockContentAfterRenderingAndPostProcess</method>
                    </manapro_filtercontent>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <layout>
            <updates module="ManaPro_FilterContent">
                <manapro_filtercontent>
                    <file>manapro_filtercontent.xml</file>
                </manapro_filtercontent>
            </updates>
        </layout>
    </frontend>
    <manapro_filtercontent>
        <content>
            <!-- Content rendered before layout XML is loaded -->
            <layout_xml>
                <helper>manapro_filtercontent/content_layoutXml</helper>
                <sort_order>100</sort_order>
            </layout_xml>
            <widget_layout_xml>
                <content_key>layout_xml</content_key>
                <helper>manapro_filtercontent/content_widgetLayoutXml</helper>
                <sort_order>200</sort_order>
            </widget_layout_xml>

            <!-- Content rendered after block objects are generated -->
            <meta_title>
                <helper>manapro_filtercontent/content_metaTitle</helper>
                <sort_order>300</sort_order>
            </meta_title>
            <meta_keywords>
                <helper>manapro_filtercontent/content_metaKeywords</helper>
                <sort_order>400</sort_order>
            </meta_keywords>
            <meta_description>
                <helper>manapro_filtercontent/content_metaDescription</helper>
                <sort_order>500</sort_order>
            </meta_description>
            <meta_robots>
                <helper>manapro_filtercontent/content_metaRobots</helper>
                <sort_order>600</sort_order>
            </meta_robots>

            <!-- Content rendered from theme template and from CMS content -->
            <title>
                <helper>manapro_filtercontent/content_title</helper>
                <sort_order>700</sort_order>
            </title>
            <subtitle>
                <helper>manapro_filtercontent/content_subtitle</helper>
                <sort_order>800</sort_order>
            </subtitle>
            <description>
                <helper>manapro_filtercontent/content_description</helper>
                <sort_order>900</sort_order>
            </description>
            <additional_description>
                <helper>manapro_filtercontent/content_additionalDescription</helper>
                <sort_order>1000</sort_order>
            </additional_description>
        </content>
    </manapro_filtercontent>
    <default>
        <mana_filtercontent>
            <general>
                <is_active>1</is_active>
            </general>
            <final>
                <meta_title><![CDATA[{# Show default page title #}
{# ----------------------- #}

<echo>{{ meta_title }}</echo>

{# Add labels of all applied filters
and separators in between#}
{# ----------------------- #}

{% for option in filters %}
    {% if loop.first %}
        <echo>: </echo>
    {% elseif not loop.last %}
        <echo>, </echo>
    {% else %}
        <echo> and </echo>
    {% endif %}

    <echo>{{ option.label }}</echo>
{% endfor %}

{# Add page number to page title #}
{# ----------------------- #}

{% if page and page > 1 %}
    <echo> (Page {{ page}})</echo>
{% endif %}
                ]]></meta_title>
                <meta_keywords><![CDATA[{# Show default page keywords #}
{# ----------------------- #}

<echo>{{ meta_keywords }}</echo>

{# Add labels of all applied filters
and separators in between#}
{# ----------------------- #}

{% for option in filters %}
    {% if not loop.first or meta_keywords != '' %}
        <echo>,</echo>
    {% endif %}

    <echo>{{ option.label }}</echo>
{% endfor %}
                ]]></meta_keywords>
                <meta_description><![CDATA[{# Show default page keywords #}
{# ----------------------- #}

<echo>{{ meta_description }}</echo>

{# Add labels of all applied filters
and separators in between#}
{# ----------------------- #}

{% for option in filters %}
    {% if loop.first %}
        <echo>. Applied filters: </echo>
    {% elseif not loop.last %}
        <echo>, </echo>
    {% else %}
        <echo> and </echo>
    {% endif %}

    <echo>{{ option.label }}</echo>
{% endfor %}
                ]]></meta_description>
                <title>{{ title }}</title>
                <subtitle>{{ subtitle }}</subtitle>
                <description>{{ description }}</description>
                <meta_robots>{{ meta_robots }}</meta_robots>
            </final>
        </mana_filtercontent>
    </default>
</config>