<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Mana
@package     ManaPro_FilterGroup
@copyright   Copyright (c) http://www.manadev.com
@license     http://www.manadev.com/license  Proprietary License
 -->
<config>
    <!-- This section registers module with Magento system. -->
    <modules>
        <ManaPro_FilterGroup>
            <!-- This version number identifies version of database tables specific to this extension. It is written to
		  	core_resource table.  -->
            <version>14.06.13.09</version>
        </ManaPro_FilterGroup>
    </modules>
    <!-- This section contains module settings which are merged into global configuration during each page load, 
	each ajax request. -->
    <global>
        <!-- This section registers helper classes to be accessible through Mage::helper() method. ManaPro_FilterGroup_Helper_Data
		class is accessible through Mage::helper('manapro_filtergroup') call, other ManaPro_FilterGroup_Helper_XXX_YYY classes are accessible 
		through  Mage::helper('manapro_filtergroup/xxx_yyy') call. -->
        <helpers>
            <manapro_filtergroup>
                <!-- This says that string 'manapro_filtergroup' corresponds to ManaPro_FilterGroup_Helper pseudo-namespace in 
				Mage::helper() calls. -->
                <class>ManaPro_FilterGroup_Helper</class>
            </manapro_filtergroup>
        </helpers>
        <!-- This section registers model classes to be accessible through Mage::getModel('<model type>') and through
            Mage::getSingleton('<model type>') calls. That is, ManaPro_FilterGroup_Model_XXX_YYY classes are accessible as
            'manapro_filtergroup/xxx_yyy' type strings both in getModel() and getSingleton() calls. -->
        <models>
            <!-- This says that string 'manapro_filtergroup' corresponds to ManaPro_FilterGroup_Model pseudo-namespace in
                getModel() and getSingleton() calls. -->
            <manapro_filtergroup>
                <class>ManaPro_FilterGroup_Model</class>
                <!-- This tells Magento to read config/global/models/manapro_filtergroup_resources sections and register
                    resource model information from there -->
                <resourceModel>manapro_filtergroup_resources</resourceModel>
            </manapro_filtergroup>
            <!-- This says that string 'manapro_filtergroup' corresponds to ManaPro_FilterGroup_Resource pseudo-namespace in
                getResourceModel() calls. -->
            <manapro_filtergroup_resources>
                <class>ManaPro_FilterGroup_Resource</class>
                <entities>
                    <!-- INSERT HERE: table-entity mappings -->
                </entities>
            </manapro_filtergroup_resources>
            <!-- INSERT HERE: rewrites, ... -->
        </models>
        <!-- This section registers event handlers of this module defined in ManaPro_FilterGroup_Model_Observer with
            events defined in other module throughout the system. So when some code in other module invokes an event
            mentioned in this section, handler method of ManaPro_FilterGroup_Model_Observer class gets called. -->
        <events>
            <m_advanced_filter_groups><!-- this is event name this module listens for -->
                <observers>
                    <manapro_filtergroup>
                        <class>manapro_filtergroup/observer</class>
                        <!-- model name of class containing event handler methods -->
                        <method>getGroups</method>
                        <!-- event handler method name -->
                    </manapro_filtergroup>
                </observers>
            </m_advanced_filter_groups>

            <m_advanced_filter_group_css><!-- this is event name this module listens for -->
                <observers>
                    <manapro_filtergroup>
                        <class>manapro_filtergroup/observer</class>
                        <!-- model name of class containing event handler methods -->
                        <method>renderCss</method>
                        <!-- event handler method name -->
                    </manapro_filtergroup>
                </observers>
            </m_advanced_filter_group_css>
            <m_advanced_filter_group_attributes><!-- this is event name this module listens for -->
                <observers>
                    <manapro_filtergroup>
                        <class>manapro_filtergroup/observer</class>
                        <!-- model name of class containing event handler methods -->
                        <method>renderAttributes</method>
                        <!-- event handler method name -->
                    </manapro_filtergroup>
                </observers>
            </m_advanced_filter_group_attributes>
            <m_advanced_filter_group_action><!-- this is event name this module listens for -->
                <observers>
                    <manapro_filtergroup>
                        <class>manapro_filtergroup/observer</class>
                        <!-- model name of class containing event handler methods -->
                        <method>renderAction</method>
                        <!-- event handler method name -->
                    </manapro_filtergroup>
                </observers>
            </m_advanced_filter_group_action>
        </events>
        <!-- INSERT HERE: blocks, models, ... -->
    </global>
    <adminhtml>
        <!-- This section registers additional translation file with our module-specific strings to be loaded -->
        <translate>
            <modules>
                <ManaPro_FilterGroup>
                    <files>
                        <default>ManaPro_FilterGroup.csv</default>
                    </files>
                </ManaPro_FilterGroup>
            </modules>
        </translate>
    </adminhtml>
    <!-- This section enables static visual changes in frontend area. -->
    <frontend>
        <!-- This section registers additional layout XML file with our module-specific layout changes to be loaded
            and executes during page rendering. -->
        <layout>
            <updates>
                <manapro_filtergroup>
                    <file>manapro_filtergroup.xml</file>
                </manapro_filtergroup>
            </updates>
        </layout>
        <!-- INSERT HERE: layout, translate, routers -->
    </frontend>
    <!-- INSERT HERE: adminhtml, frontend, ... -->
</config>