<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Mana
@package     ManaPro_FilterDependent
@copyright   Copyright (c) http://www.manadev.com
@license     http://www.manadev.com/license  Proprietary License
 -->
<config>
    <modules>
        <ManaPro_FilterDependent>
            <version>14.02.05.22</version>
        </ManaPro_FilterDependent>
    </modules>
    <global>
        <helpers>
            <manapro_filterdependent>
                <class>ManaPro_FilterDependent_Helper</class>
            </manapro_filterdependent>
        </helpers>
        <models>
            <manapro_filterdependent>
                <class>ManaPro_FilterDependent_Model</class>
                <resourceModel>manapro_filterdependent_resources</resourceModel>
            </manapro_filterdependent>
            <manapro_filterdependent_resources>
                <class>ManaPro_FilterDependent_Resource</class>
                <entities>

                </entities>
            </manapro_filterdependent_resources>
        </models>
        <resources>
            <manapro_filterdependent_setup>
                <setup>
                    <module>ManaPro_FilterDependent</module>
                </setup>
            </manapro_filterdependent_setup>
        </resources>
        <events>
            <m_db_add_edited_data>
                <observers>
                    <manapro_filterdependent>
                        <class>manapro_filterdependent/observer</class>
                        <method>addEditedData</method>
                    </manapro_filterdependent>
                </observers>
            </m_db_add_edited_data>
            <m_crud_form>
                <observers>
                    <manapro_filterdependent>
                        <class>manapro_filterdependent/observer</class>
                        <method>addFields</method>
                    </manapro_filterdependent>
                </observers>
            </m_crud_form>
            <m_crud_grid_collection>
                <observers>
                    <manapro_filterdependent>
                        <class>manapro_filterdependent/observer</class>
                        <method>prepareGridCollection</method>
                    </manapro_filterdependent>
                </observers>
            </m_crud_grid_collection>
            <m_crud_grid_columns>
                <observers>
                    <manapro_filterdependent>
                        <class>manapro_filterdependent/observer</class>
                        <method>prepareGridColumns</method>
                    </manapro_filterdependent>
                </observers>
            </m_crud_grid_columns>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <ManaPro_FilterDependent>
                    <files>
                        <default>ManaPro_FilterDependent.csv</default>
                    </files>
                </ManaPro_FilterDependent>
            </modules>
        </translate>
    </adminhtml>
	<default>
		<mana_filters>
			<dependent>
				<clear_on_parent_filter_change>1</clear_on_parent_filter_change>
			</dependent>
		</mana_filters>
	</default>
</config>