/* GitHub stylesheet for MarkdownPad (http://markdownpad.com) */
/* Author: Nicolas Hery - http://nicolashery.com */
/* Version: b13fe65ca28d2e568c6ed5d7f06581183df8f2ff */
/* Source: https://github.com/nicolahery/markdownpad-github */

/* BODY
=============================================================================*/

.mana_content body {
  padding: 20px;
  max-width: 960px;
  margin: 0 auto;
}
.std .mana_content {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.mana_content body>*:first-child {
  margin-top: 0 !important;
}

.mana_content body>*:last-child {
  margin-bottom: 0 !important;
}

/* BLOCKS
=============================================================================*/

.mana_content p,
.mana_content blockquote,
.mana_content ul,
.mana_content ol,
.mana_content dl,
.mana_content table,
.mana_content pre {
  margin: 0 0 15px 0;
}

/* HEADERS
=============================================================================*/

.mana_content h1,
.mana_content h2,
.mana_content h3,
.mana_content h4,
.mana_content h5,
.mana_content h6 {
}

.mana_content h1 tt,
.mana_content h1 code,
.mana_content h2 tt,
.mana_content h2 code,
.mana_content h3 tt,
.mana_content h3 code,
.mana_content h4 tt,
.mana_content h4 code,
.mana_content h5 tt,
.mana_content h5 code,
.mana_content h6 tt,
.mana_content h6 code {
  font-size: inherit;
}

.mana_content h1 {

}

.mana_content h2 {
}

.mana_content h3 {
    font-weight: normal;
    color: #ff6464;
    margin: 10px 0;
}

.mana_content h4 {
}

.mana_content h5 {
}

.mana_content h6 {
}

.mana_content body>h2:first-child,
.mana_content body>h1:first-child,
.mana_content body>h1:first-child+h2,
.mana_content body>h3:first-child,
.mana_content body>h4:first-child,
.mana_content body>h5:first-child,
.mana_content body>h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

.mana_content a:first-child h1,
.mana_content a:first-child h2,
.mana_content a:first-child h3,
.mana_content a:first-child h4,
.mana_content a:first-child h5,
.mana_content a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}

.mana_content h1+p,
.mana_content h2+p,
.mana_content h3+p,
.mana_content h4+p,
.mana_content h5+p,
.mana_content h6+p {
  margin-top: 10px;
}

/* LINKS
=============================================================================*/

.mana_content a {
  color: #25A4DB;
  text-decoration: none;
}

.mana_content a:hover {
  text-decoration: underline;
}
.mana_content a[href='#'] {
}

.mana_content a[href='#']:after {
    content: "\e627";
}

/* LISTS
=============================================================================*/

.mana_content ul,
.mana_content ol {
  padding-left: 30px;
  color: #646464;
}
.mana_content ul li { margin: 10px;  }
.mana_content ul.toc a { color: #646464; }

.mana_content ul li > :first-child,
.mana_content ol li > :first-child,
.mana_content ul li ul:first-of-type,
.mana_content ol li ol:first-of-type,
.mana_content ul li ol:first-of-type,
.mana_content ol li ul:first-of-type {
  margin-top: 0px;
}

.mana_content ul ul,
.mana_content ul ol,
.mana_content ol ol,
.mana_content ol ul {
  margin-bottom: 0;
}

.mana_content dl {
  padding: 0;
}

.mana_content dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}

.mana_content dl dt:first-child {
  padding: 0;
}

.mana_content dl dt>:first-child {
  margin-top: 0px;
}

.mana_content dl dt>:last-child {
  margin-bottom: 0px;
}

.mana_content dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}

.mana_content dl dd>:first-child {
  margin-top: 0px;
}

.mana_content dl dd>:last-child {
  margin-bottom: 0px;
}

/* CODE
=============================================================================*/

.mana_content pre,
.mana_content code,
.mana_content tt {
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

.mana_content code,
.mana_content tt {
  margin: 0 0px;
  padding: 4px 5px;
  background-color: #dcdcdc;;
  border-radius: 3px;
  overflow-wrap: break-word;
}

.mana_content pre>code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

.mana_content pre {
  background-color: white;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 5px;
  border: solid;
  border-width: 2px 1px 0;
  border-color: #bfbfbf #dbdbdb;
}

.mana_content pre code,
.mana_content pre tt {
  background-color: transparent;
  border: none;
}

.mana_content kbd {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #DDDDDD;
    background-image: linear-gradient(#F1F1F1, #DDDDDD);
    background-repeat: repeat-x;
    border-color: #DDDDDD #CCCCCC #CCCCCC #DDDDDD;
    border-image: none;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 10px;
    padding: 1px 4px;
}

/* QUOTES
=============================================================================*/

.mana_content blockquote {
    border-left: 4px solid #ff6464;
    padding: 10px;
    background: white;
    box-shadow: 0px -6px 10px -6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
}

.mana_content blockquote>:first-child {
  margin-top: 0px;
}

.mana_content blockquote>:last-child {
  margin-bottom: 0px;
}

/* HORIZONTAL RULES
=============================================================================*/

.mana_content hr {
  clear: both;
  margin: 15px 0;
  height: 0px;
  overflow: hidden;
  border: none;
  background: transparent;
  border-bottom: 4px solid #ddd;
  padding: 0;
}

/* TABLES
=============================================================================*/

.mana_content table {
    max-width: 100%;
}

.mana_content table th {
  font-weight: bold;
}

.mana_content table th,
.mana_content table td {
  border: 1px solid #ccc;
  padding: 6px 13px;
}

.mana_content table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}

.mana_content table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

/* IMAGES
=============================================================================*/

.mana_content img {
  max-width: 100%
}

/* UL and OL
=============================================================================*/

.mana_content ul {
    list-style: disc;
}

.mana_content ol {
    list-style: decimal;
}