<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Mana
@package     Mana_InfiniteScrolling
@copyright   Copyright (c) http://www.manadev.com
@license     http://www.manadev.com/license  Proprietary License
 -->
<config>
    <modules>
        <Mana_InfiniteScrolling>
            <active>true</active>
            <codePool>local</codePool>
            <depends>
                <Mage_Catalog />
            </depends>
        </Mana_InfiniteScrolling>
    </modules>
</config>