<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Mana
@package     Mana_GeoLocation
@copyright   Copyright (c) http://www.manadev.com
@license     http://www.manadev.com/license  Proprietary License
 -->
<config>
    <!-- This section registers module with Magento system. -->
    <modules>
        <Mana_GeoLocation>
            <!-- This version number identifies version of database tables specific to this extension. It is written to
		  	core_resource table.  -->
            <version>15.08.07.07</version>
        </Mana_GeoLocation>
    </modules>
    <!-- This section contains module settings which are merged into global configuration during each page load, 
	each ajax request. -->
    <global>
        <!-- This section registers helper classes to be accessible through Mage::helper() method. Mana_GeoLocation_Helper_Data
		class is accessible through Mage::helper('mana_geolocation') call, other Mana_GeoLocation_Helper_XXX_YYY classes are accessible 
		through  Mage::helper('mana_geolocation/xxx_yyy') call. -->
        <helpers>
            <mana_geolocation>
                <!-- This says that string 'mana_geolocation' corresponds to Mana_GeoLocation_Helper pseudo-namespace in 
				Mage::helper() calls. -->
                <class>Mana_GeoLocation_Helper</class>
            </mana_geolocation>
        </helpers>
        <!-- This section registers block classes Mana_GeoLocation_Block_XXX_YYY to be accessible through
            'mana_geolocation/xxx_yyy' shortcuts. -->
        <blocks>
            <!-- This says that string 'mana_geolocation' corresponds to Mana_GeoLocation_Block pseudo-namespace. -->
            <mana_geolocation>
                <class>Mana_GeoLocation_Block</class>
            </mana_geolocation>
            <!-- INSERT HERE: rewrites, ... -->
        </blocks>
        <!-- This section registers model classes to be accessible through Mage::getModel('<model type>') and through
            Mage::getSingleton('<model type>') calls. That is, Mana_GeoLocation_Model_XXX_YYY classes are accessible as
            'mana_geolocation/xxx_yyy' type strings both in getModel() and getSingleton() calls. -->
        <models>
            <!-- This says that string 'mana_geolocation' corresponds to Mana_GeoLocation_Model pseudo-namespace in
                getModel() and getSingleton() calls. -->
            <mana_geolocation>
                <class>Mana_GeoLocation_Model</class>
                <!-- This tells Magento to read config/global/models/mana_geolocation_resources sections and register
                    resource model information from there -->
                <resourceModel>mana_geolocation_resources</resourceModel>
            </mana_geolocation>
            <!-- This says that string 'mana_geolocation' corresponds to Mana_GeoLocation_Resource pseudo-namespace in
                getResourceModel() calls. -->
            <mana_geolocation_resources>
                <class>Mana_GeoLocation_Resource</class>
                <entities>
                    <ip4><table>m_ip4</table></ip4>
                    <ip6><table>m_ip6</table></ip6>
                    <domain><table>m_domain</table></domain>
                </entities>
            </mana_geolocation_resources>
            <!-- INSERT HERE: rewrites, ... -->
        </models>
        <!-- This tells Magento to analyze sql/mana_geolocation_setup directory for install/upgrade scripts. 
            Installation scripts should be named as 'mysql4-install-<new version>.php'. 
            Upgrade scripts should be named as mysql4-upgrade-<current version>-<new version>.php -->
        <resources>
            <mana_geolocation_setup>
                <setup>
                    <module>Mana_GeoLocation</module>
                </setup>
            </mana_geolocation_setup>
        </resources>
        <!-- INSERT HERE: blocks, models, ... -->
    </global>
    <!-- This section enables static visual changes in admin area. -->
    <adminhtml>
        <!-- This section registers additional translation file with our module-specific strings to be loaded -->
        <translate>
            <modules>
                <Mana_GeoLocation>
                    <files>
                        <default>Mana_GeoLocation.csv</default>
                    </files>
                </Mana_GeoLocation>
            </modules>
        </translate>
        <!-- This section registers additional layout XML file with our module-specific layout changes to be loaded
            and executes during page rendering. -->
        <layout>
            <updates>
                <mana_geolocation>
                    <file>mana_geolocation.xml</file>
                </mana_geolocation>
            </updates>
        </layout>
        <!-- INSERT HERE: layout, translate, routers -->
    </adminhtml>
    <!-- This section enables static visual changes in frontend area. -->
    <frontend>
        <events>
            <controller_action_layout_render_before_checkout_index_index><!-- this is event name this module listens for -->
                <observers>
                    <mana_geolocation>
                        <class>mana_geolocation/observer</class>
                        <!-- model name of class containing event handler methods -->
                        <method>addCheckoutUrl</method>
                        <!-- event handler method name -->
                    </mana_geolocation>
                </observers>
            </controller_action_layout_render_before_checkout_index_index>
        </events>
        <routers>
            <mana_geolocation>
                <use>standard</use>
                <args>
                    <module>Mana_GeoLocation</module>
                    <frontName>geo</frontName>
                </args>
            </mana_geolocation>
        </routers>
        <secure_url>
            <geo_location>/geo/location</geo_location>
        </secure_url>

        <!-- INSERT HERE: layout, translate, routers -->
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mana_geolocation before="Mage_Adminhtml">Mana_GeoLocation</mana_geolocation>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <!-- INSERT HERE: adminhtml, frontend, ... -->
</config>