<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Mana
@package     Mana_Sorting
@copyright   Copyright (c) http://www.manadev.com
@license     http://www.manadev.com/license  Proprietary License
 -->
<config>
    <modules>
        <Mana_Sorting>
            <version>17.09.0812</version>
        </Mana_Sorting>
    </modules>
    <global>
        <helpers>
            <mana_sorting>
                <class>Mana_Sorting_Helper</class>
            </mana_sorting>
        </helpers>
        <blocks>
            <mana_sorting>
                <class>Mana_Sorting_Block</class>
            </mana_sorting>
            <catalog>
                <rewrite>
                    <product_list_toolbar>Mana_Sorting_Rewrite_Toolbar</product_list_toolbar>
                </rewrite>
            </catalog>
            <mana_attributepage>
                <rewrite>
                    <productListToolbar>Mana_Sorting_Rewrite_AttributePageToolbar</productListToolbar>
                </rewrite>
            </mana_attributepage>
        </blocks>
        <models>
            <mana_sorting>
                <class>Mana_Sorting_Model</class>
                <resourceModel>mana_sorting_resources</resourceModel>
            </mana_sorting>
            <mana_sorting_resources>
                <class>Mana_Sorting_Resource</class>
                <entities>
                    <method><table>m_sorting_method</table></method>
                    <method_store><table>m_sorting_method_store</table></method_store>
                    <method_storeCustomSettings><table>m_sorting_method_store_custom_settings</table></method_storeCustomSettings>
                </entities>
            </mana_sorting_resources>
            <adminhtml>
                <rewrite>
                    <system_config_source_catalog_listSort>Mana_Sorting_Rewrite_System_Source_ListSort</system_config_source_catalog_listSort>
                </rewrite>
            </adminhtml>
            <catalog>
                <rewrite>
                    <category_attribute_source_sortby>Mana_Sorting_Rewrite_Category_Source_SortBy</category_attribute_source_sortby>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <mana_sorting_setup>
                <setup>
                    <module>Mana_Sorting</module>
                </setup>
            </mana_sorting_setup>
        </resources>
        <index>
            <indexer>
                <mana_sorting_method translate="name description" module="mana_sorting">
                    <model>mana_sorting/method_indexer</model>
                    <name>Custom Sorting Methods (MANAdev)</name>
                    <description>Recalculates custom sorting methods store-level settings.</description>
                </mana_sorting_method>
            </indexer>
        </index>
        <events>
            <m_toolbar_orders>
                <observers>
                    <mana_xxx>
                        <class>mana_sorting/observer</class>
                        <method>addSortingMethodsToSeo</method>
                    </mana_xxx>
                </observers>
            </m_toolbar_orders>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <Mana_Sorting>
                    <files>
                        <default>Mana_Sorting.csv</default>
                    </files>
                </Mana_Sorting>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mana_sorting before="Mage_Adminhtml">Mana_Sorting_Adminhtml</mana_sorting>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <!-- BASED ON SNIPPET: Translation support/Adminhtml (config.xml) -->
        <!-- This section registers additional translation file with our module-specific strings to be loaded
        during admin area request processing -->
        <translate>
            <modules>
                <Mana_Sorting>
                    <files>
                        <default>Mana_Sorting.csv</default>
                    </files>
                </Mana_Sorting>
            </modules>
        </translate>
        <layout>
            <updates>
                <mana_sorting>
                    <file>mana_sorting.xml</file>
                </mana_sorting>
            </updates>
        </layout>
    </adminhtml>
    <mana_sorting>
        <newest translate="label" module="Mana_Sorting">
            <label>Newest</label>
            <resource>mana_sorting/newest</resource>
        </newest>
        <bestsellers translate="label" module="Mana_Sorting">
            <label>Bestsellers</label>
            <resource>mana_sorting/bestseller</resource>
        </bestsellers>
        <most_viewed translate="label" module="Mana_Sorting">
            <label>Most Viewed</label>
            <resource>mana_sorting/mostViewed</resource>
        </most_viewed>
        <biggest_saving translate="label" module="Mana_Sorting">
            <label>Biggest Saving</label>
            <resource>mana_sorting/biggestSaving</resource>
        </biggest_saving>
        <top_rated translate="label" module="Mana_Sorting">
            <label>Top Rated</label>
            <resource>mana_sorting/topRated</resource>
        </top_rated>
        <review_count translate="label" module="Mana_Sorting">
            <label>Review Count</label>
            <resource>mana_sorting/reviewCount</resource>
        </review_count>
        <quantity translate="label" module="Mana_Sorting">
            <label>Quantity</label>
            <resource>mana_sorting/quantity</resource>
        </quantity>
        <now_in_wishlist translate="label" module="Mana_Sorting">
            <label>Now In Wishlist</label>
            <resource>mana_sorting/nowInWishlist</resource>
        </now_in_wishlist>
    </mana_sorting>
    <default>
        <mana_sorting>
            <newest>
                <enabled>1</enabled>
                <position>100</position>
            </newest>
            <bestsellers>
                <enabled>1</enabled>
                <position>200</position>
            </bestsellers>
            <most_viewed>
                <enabled>1</enabled>
                <position>300</position>
            </most_viewed>
            <biggest_saving>
                <enabled>1</enabled>
                <position>400</position>
            </biggest_saving>
            <top_rated>
                <enabled>1</enabled>
                <position>500</position>
            </top_rated>
            <review_count>
                <enabled>1</enabled>
                <position>600</position>
            </review_count>
            <quantity>
                <enabled>1</enabled>
                <position>700</position>
            </quantity>
            <now_in_wishlist>
                <enabled>1</enabled>
                <position>800</position>
            </now_in_wishlist>
        </mana_sorting>
    </default>
</config>