<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Mana
@package     ManaPro_FilterAdvanced
@copyright   Copyright (c) http://www.manadev.com
@license     http://www.manadev.com/license  Proprietary License
 -->
<config>
    <tabs>
        <mana>
            <label>MANAdev</label>
            <sort_order>250</sort_order>
        </mana>
    </tabs>
    <sections>
        <mana_filters>
            <groups>
                <advanced translate="label" module="manapro_filteradvanced">
                    <label>Advanced Display Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>215</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enable Advanced Display Features</label>
                            <comment>If enabled, manapro/filteradvanced/view.phtml file is used instead of catalog/layer/view.phtml which comes with your theme. Depending on your theme, this file may need to be adapted to your theme.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                    </fields>
                </advanced>
            </groups>
        </mana_filters>
    </sections>
</config>