<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Mana
@package     ManaTheme_Louvre
@copyright   Copyright (c) http://www.manadev.com
@license     http://www.manadev.com/license  Proprietary License
 -->
<config>
    <!-- This section registers module with Magento system. -->
    <modules>
        <ManaTheme_Louvre>
            <!-- This version number identifies version of database tables specific to this extension. It is written to
		  	core_resource table.  -->
            <version>13.01.03.15</version>
        </ManaTheme_Louvre>
    </modules>
    <!-- This section contains module settings which are merged into global configuration during each page load, 
	each ajax request. -->
    <global>
        <!-- This section registers helper classes to be accessible through Mage::helper() method. ManaTheme_Louvre_Helper_Data
		class is accessible through Mage::helper('manatheme_louvre') call, other ManaTheme_Louvre_Helper_XXX_YYY classes are accessible 
		through  Mage::helper('manatheme_louvre/xxx_yyy') call. -->
        <helpers>
            <manatheme_louvre>
                <!-- This says that string 'manatheme_louvre' corresponds to ManaTheme_Louvre_Helper pseudo-namespace in 
				Mage::helper() calls. -->
                <class>ManaTheme_Louvre_Helper</class>
            </manatheme_louvre>
        </helpers>
        <!-- This section registers model classes to be accessible through Mage::getModel('<model type>') and through
            Mage::getSingleton('<model type>') calls. That is, ManaTheme_Louvre_Model_XXX_YYY classes are accessible as
            'manatheme_louvre/xxx_yyy' type strings both in getModel() and getSingleton() calls. -->
        <models>
            <!-- This says that string 'manatheme_louvre' corresponds to ManaTheme_Louvre_Model pseudo-namespace in
                getModel() and getSingleton() calls. -->
            <manatheme_louvre>
                <class>ManaTheme_Louvre_Model</class>
                <!-- INSERT HERE: resource section name -->
            </manatheme_louvre>
        </models>
        <!-- INSERT HERE: blocks, models, ... -->
    </global>
    <!-- This section enables static visual changes in frontend area. -->
    <frontend>
        <!-- This section registers additional layout XML file with our module-specific layout changes to be loaded
            and executes during page rendering. -->
        <layout>
            <updates>
                <manatheme_louvre>
                    <file>manatheme_louvre.xml</file>
                </manatheme_louvre>
            </updates>
        </layout>
        <!-- This section registers additional translation file with our module-specific strings to be loaded -->
        <translate>
            <modules>
                <ManaTheme_Louvre>
                    <files>
                        <default>ManaTheme_Louvre.csv</default>
                    </files>
                </ManaTheme_Louvre>
            </modules>
        </translate>
        <!-- INSERT HERE: layout, translate, routers -->
    </frontend>

    <mana_social>
        <sites>
            <facebook>
                <label />
            </facebook>
            <twitter>
                <label />
            </twitter>
        </sites>
    </mana_social>

	<m_layout>
		<default>
			<m_default_cart_right action="addAfter" handle="m_default_cart_right" if="valueEquals">
				<param>mana_louvre/positioning/cart</param>
				<value>right</value>
			</m_default_cart_right>
			<m_default_cart_left action="addAfter" handle="m_default_cart_left" if="valueEquals">
				<param>mana_louvre/positioning/cart</param>
				<value>left</value>
			</m_default_cart_left>

			<m_default_wishlist_right action="addAfter" handle="m_default_wishlist_right" if="valueEquals">
				<param>mana_louvre/positioning/wishlist</param>
				<value>right</value>
			</m_default_wishlist_right>
			<m_default_wishlist_left action="addAfter" handle="m_default_wishlist_left" if="valueEquals">
				<param>mana_louvre/positioning/wishlist</param>
				<value>left</value>
			</m_default_wishlist_left>

			<m_default_compare_right action="addAfter" handle="m_default_compare_right" if="valueEquals">
				<param>mana_louvre/positioning/compare</param>
				<value>right</value>
			</m_default_compare_right>
			<m_default_compare_left action="addAfter" handle="m_default_compare_left" if="valueEquals">
				<param>mana_louvre/positioning/compare</param>
				<value>left</value>
			</m_default_compare_left>
		</default>
        <catalog_product_view>
			<m_catalog_product_view_related_right action="addAfter" handle="m_catalog_product_view_related_right" if="valueEquals">
				<param>mana_louvre/positioning/related</param>
				<value>right</value>
			</m_catalog_product_view_related_right>
			<m_catalog_product_view_related_left action="addAfter" handle="m_catalog_product_view_related_left" if="valueEquals">
				<param>mana_louvre/positioning/related</param>
				<value>left</value>
			</m_catalog_product_view_related_left>
			<m_catalog_product_view_related_inside_product action="addAfter" handle="m_catalog_product_view_related_inside_product" if="valueEquals">
				<param>mana_louvre/positioning/related</param>
				<value>inside_product</value>
			</m_catalog_product_view_related_inside_product>
        </catalog_product_view>
	</m_layout>

    <default>
        <mana_louvre>
            <general>
                <list_mode>two_column-list-grid</list_mode>
                <two_column_per_page_values>4,10,20</two_column_per_page_values>
                <two_column_per_page>10</two_column_per_page>
                <image_ratio>1:1</image_ratio>
            </general>
            <toplinks>
                <show_welcome_link>1</show_welcome_link>
                <show_myaccount_link>1</show_myaccount_link>
                <show_wishlist_link>1</show_wishlist_link>
                <show_compare_link>1</show_compare_link>
                <show_mycart_link>1</show_mycart_link>
                <show_checkout_link>1</show_checkout_link>
                <show_loginout_link>1</show_loginout_link>
            </toplinks>
            <positioning>
                <cart>right</cart>
                <wishlist>right</wishlist>
                <compare>right</compare>
                <related>right</related>
            </positioning>

            <css>
                <layered_navigation>m-lightgrey</layered_navigation>
            </css>
            <show_in_product>
                <wishlist>1</wishlist>
                <compare>1</compare>
                <cart>1</cart>
            </show_in_product>
            <show_in_grid>
                <name>1</name>
                <price>1</price>
                <rating>1</rating>
                <description>1</description>
                <read_more>1</read_more>
                <wishlist>1</wishlist>
                <compare>1</compare>
                <cart>1</cart>
                <out_of_stock>1</out_of_stock>
            </show_in_grid>
            <show_in_list>
                <name>1</name>
                <price>1</price>
                <rating>1</rating>
                <description>1</description>
                <read_more>1</read_more>
                <wishlist>1</wishlist>
                <compare>1</compare>
                <cart>1</cart>
                <out_of_stock>1</out_of_stock>
            </show_in_list>
            <show_in_two_column>
                <name>1</name>
                <price>1</price>
                <rating>1</rating>
                <description>1</description>
                <read_more>1</read_more>
                <wishlist>1</wishlist>
                <compare>1</compare>
                <cart>1</cart>
                <out_of_stock>1</out_of_stock>
            </show_in_two_column>
            <show_in_new_grid>
                <name>1</name>
                <price>1</price>
                <rating>1</rating>
                <description>1</description>
                <read_more>1</read_more>
                <wishlist>1</wishlist>
                <compare>1</compare>
                <cart>1</cart>
                <out_of_stock>1</out_of_stock>
            </show_in_new_grid>
            <show_in_new_list>
                <name>1</name>
                <price>1</price>
                <rating>1</rating>
                <description>1</description>
                <read_more>1</read_more>
                <wishlist>1</wishlist>
                <compare>1</compare>
                <cart>1</cart>
                <out_of_stock>1</out_of_stock>
            </show_in_new_list>
            <show_in_compared_grid>
                <name>1</name>
                <price>1</price>
                <rating>1</rating>
                <description>1</description>
                <read_more>1</read_more>
                <wishlist>1</wishlist>
                <compare>1</compare>
                <cart>1</cart>
                <out_of_stock>1</out_of_stock>
            </show_in_compared_grid>
            <show_in_compared_list>
                <name>1</name>
                <price>1</price>
                <rating>1</rating>
                <description>1</description>
                <read_more>1</read_more>
                <wishlist>1</wishlist>
                <compare>1</compare>
                <cart>1</cart>
                <out_of_stock>1</out_of_stock>
            </show_in_compared_list>
            <show_in_viewed_grid>
                <name>1</name>
                <price>1</price>
                <rating>1</rating>
                <description>1</description>
                <read_more>1</read_more>
                <wishlist>1</wishlist>
                <compare>1</compare>
                <cart>1</cart>
                <out_of_stock>1</out_of_stock>
            </show_in_viewed_grid>
            <show_in_viewed_list>
                <name>1</name>
                <price>1</price>
                <rating>1</rating>
                <description>1</description>
                <read_more>1</read_more>
                <wishlist>1</wishlist>
                <compare>1</compare>
                <cart>1</cart>
                <out_of_stock>1</out_of_stock>
            </show_in_viewed_list>
            <show_in_bestseller_grid>
                <name>1</name>
                <price>1</price>
                <rating>1</rating>
                <description>1</description>
                <read_more>1</read_more>
                <wishlist>1</wishlist>
                <compare>1</compare>
                <cart>1</cart>
                <out_of_stock>1</out_of_stock>
            </show_in_bestseller_grid>
            <show_in_bestseller_list>
                <name>1</name>
                <price>1</price>
                <rating>1</rating>
                <description>1</description>
                <read_more>1</read_more>
                <wishlist>1</wishlist>
                <compare>1</compare>
                <cart>1</cart>
                <out_of_stock>1</out_of_stock>
            </show_in_bestseller_list>
        </mana_louvre>
    </default>
</config>