<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Mana
@package     Mana_DeveloperTools
@copyright   Copyright (c) http://www.manadev.com
@license     http://www.manadev.com/license  Proprietary License
 -->
<config>
    <tabs>
        <mana>
            <label>MANAdev</label>
            <sort_order>250</sort_order>
        </mana>
    </tabs>
    <sections>
        <mana>
            <groups>
                <developer translate="label" module="mana_developertools">
                    <label>Developer Tools</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <test_db translate="label comment">
                            <label>This Database is Dedicated for Automated Testing</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </test_db>
                    </fields>
                </developer>
            </groups>
        </mana>
    </sections>
</config>