<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Mana
@package     ManaPro_FilterAttributes
@copyright   Copyright (c) http://www.manadev.com
@license     http://www.manadev.com/license  Proprietary License
 -->
<config>
    <!-- This section registers module with Magento system. -->
    <modules>
        <ManaPro_FilterAttributes>
            <!-- This version number identifies version of database tables specific to this extension. It is written to
		  	core_resource table.  -->
            <version>13.06.23.15</version>
        </ManaPro_FilterAttributes>
    </modules>
    <!-- This section contains module settings which are merged into global configuration during each page load, 
	each ajax request. -->
    <global>
        <!-- This section registers helper classes to be accessible through Mage::helper() method. ManaPro_FilterAttributes_Helper_Data
		class is accessible through Mage::helper('manapro_filterattributes') call, other ManaPro_FilterAttributes_Helper_XXX_YYY classes are accessible 
		through  Mage::helper('manapro_filterattributes/xxx_yyy') call. -->
        <helpers>
            <manapro_filterattributes>
                <!-- This says that string 'manapro_filterattributes' corresponds to ManaPro_FilterAttributes_Helper pseudo-namespace in 
				Mage::helper() calls. -->
                <class>ManaPro_FilterAttributes_Helper</class>
            </manapro_filterattributes>
        </helpers>
        <!-- This section registers model classes to be accessible through Mage::getModel('<model type>') and through
            Mage::getSingleton('<model type>') calls. That is, ManaPro_FilterAttributes_Model_XXX_YYY classes are accessible as
            'manapro_filterattributes/xxx_yyy' type strings both in getModel() and getSingleton() calls. -->
        <models>
            <!-- This says that string 'manapro_filterattributes' corresponds to ManaPro_FilterAttributes_Model pseudo-namespace in
                getModel() and getSingleton() calls. -->
            <manapro_filterattributes>
                <class>ManaPro_FilterAttributes_Model</class>
                <!-- This tells Magento to read config/global/models/manapro_filterattributes_resources sections and register
                    resource model information from there -->
                <resourceModel>manapro_filterattributes_resources</resourceModel>
            </manapro_filterattributes>
            <!-- This says that string 'manapro_filterattributes' corresponds to ManaPro_FilterAttributes_Resource pseudo-namespace in
                getResourceModel() calls. -->
            <manapro_filterattributes_resources>
                <class>ManaPro_FilterAttributes_Resource</class>
                <entities>
                    <!-- INSERT HERE: table-entity mappings -->
                </entities>
            </manapro_filterattributes_resources>
            <review_resource>
                <rewrite>
                    <review>ManaPro_FilterAttributes_Resource_Review</review>
                </rewrite>
            </review_resource>
        </models>
        <!-- This tells Magento to analyze sql/manapro_filterattributes_setup directory for install/upgrade scripts.
            Installation scripts should be named as 'mysql4-install-<new version>.php'.
            Upgrade scripts should be named as mysql4-upgrade-<current version>-<new version>.php -->
        <resources>
            <manapro_filterattributes_setup>
                <setup>
                    <module>ManaPro_FilterAttributes</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </manapro_filterattributes_setup>
        </resources>
        <!-- INSERT HERE: blocks, models, ... -->
        <index>
            <indexer>
                <manapro_filterattributes translate="name description" module="manapro_filterattributes">
                    <model>manapro_filterattributes/indexer</model>
                    <name>Calculated Attributes for Layered Navigation (MANAdev)</name>
                    <description>Recalculates attributes used in Layered Navigation</description>
                    <types>
                        <sync_value><resource>manapro_filterattributes/syncValue</resource></sync_value>
                        <stock_status><resource>manapro_filterattributes/stockStatus</resource></stock_status>
                        <rating><resource>manapro_filterattributes/rating</resource></rating>
                    </types>
                </manapro_filterattributes>
                <catalog_product_flat>
                    <depends>
                        <manapro_filterattributes/>
                    </depends>
                </catalog_product_flat>
            </indexer>
        </index>
		<events>
			<!-- BASED ON SNIPPET: Models/Event handler (config.xml) -->
			<cataloginventory_stock_item_save_commit_after><!-- this is event name this module listens for -->
				<observers>
					<manapro_filterattributes>
						<class>manapro_filterattributes/observer</class> <!-- model name of class containing event handler methods -->
						<method>saveStockStatus</method> <!-- event handler method name -->
					</manapro_filterattributes>
				</observers>
			</cataloginventory_stock_item_save_commit_after>
            <m_product_faces_reindex_all><!-- this is event name this module listens for -->
				<observers>
					<manapro_filterattributes>
						<class>manapro_filterattributes/observer</class> <!-- model name of class containing event handler methods -->
						<method>saveStockStatus</method> <!-- event handler method name -->
					</manapro_filterattributes>
				</observers>
            </m_product_faces_reindex_all>
            <review_save_commit_after><!-- this is event name this module listens for -->
                <observers>
                    <manapro_filterattributes>
                        <class>manapro_filterattributes/observer</class>
                        <!-- model name of class containing event handler methods -->
                        <method>reviewSaveAfter</method>
                        <!-- event handler method name -->
                    </manapro_filterattributes>
                </observers>
            </review_save_commit_after>

             <review_delete_commit_after><!-- this is event name this module listens for -->
                <observers>
                    <manapro_filterattributes>
                        <class>manapro_filterattributes/observer</class>
                        <!-- model name of class containing event handler methods -->
                        <method>reviewDeleteAfter</method>
                        <!-- event handler method name -->
                    </manapro_filterattributes>
                </observers>
            </review_delete_commit_after>
		</events>

    </global>
    <!-- INSERT HERE: adminhtml, frontend, ... -->
    <frontend>
        <!-- This section registers additional translation file with our module-specific strings to be loaded -->
        <translate>
            <modules>
                <ManaPro_FilterAttributes>
                    <files>
                        <default>ManaPro_FilterAttributes.csv</default>
                    </files>
                </ManaPro_FilterAttributes>
            </modules>
        </translate>
        <!-- INSERT HERE: layout, translate, routers -->
    </frontend>
    <adminhtml>
        <!-- This section registers additional translation file with our module-specific strings to be loaded -->
        <translate>
            <modules>
                <ManaPro_FilterAttributes>
                    <files>
                        <default>ManaPro_FilterAttributes.csv</default>
                    </files>
                </ManaPro_FilterAttributes>
            </modules>
        </translate>
        <!-- INSERT HERE: layout, translate, routers -->
    </adminhtml>
	<default>
		<mana_filters>
			<general>
				<instock_option_position>1</instock_option_position>
			</general>
		</mana_filters>
	</default>

</config>