<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Mana
@package     ManaPro_FilterAttributes
@copyright   Copyright (c) http://www.manadev.com
@license     http://www.manadev.com/license  Proprietary License
 -->
<config>
    <sections>
        <mana_filters>
            <groups>
                <general translate="label" module="manapro_filterattributes">
                    <fields>
                        <instock_option_position translate="label comment">
                            <label>Position of 'In stock' value for 'stock_status' attribute</label>
                            <comment>'stock_status' attribute shows 'In stock'/'Out of Stock' in Layered navogation. Point here position of 'In stock' option position. All other will be considered as 'Out of Stock' </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </instock_option_position>
                    </fields>
                </general>
            </groups>
        </mana_filters>
    </sections>
</config>