<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Mana
@package     Local_Demo
@copyright   Copyright (c) http://www.manadev.com
@license     http://www.manadev.com/license  Proprietary License
 -->
<config>
    <tabs>
        <mana>
            <label>MANAdev</label>
            <sort_order>250</sort_order>
        </mana>
    </tabs>
    <sections>
        <local_demo translate="label" module="local_demo">
            <label>Demo</label>
            <tab>mana</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10300</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <main_site translate="label" module="local_demo">
                    <label>Main Site</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <path translate="label">
                            <label>Root Directory</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </path>
                        <url translate="label">
                            <label>Root URL (without http://)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </url>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
                        <brand translate="label">
                            <label>Brand</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>400</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </brand>
                        <logo_url translate="label">
                            <label>Logo URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>500</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </logo_url>
                        <add_url translate="label">
                            <label>Add to Cart Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>600</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </add_url>
                    </fields>
                </main_site>
                <product translate="label" module="local_demo">
                    <label>Software Product Which This Demo Represents</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <id translate="label">
                            <label>Demo'ed Product ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </id>
                    </fields>
                </product>
            </groups>
        </local_demo>
    </sections>
</config>
