<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Mana
@package     Mana_Content
@copyright   Copyright (c) http://www.manadev.com
@license     http://www.manadev.com/license  Proprietary License
 -->
<config>
    <modules>
        <Mana_Content>
            <version>14.11.14.16</version>
        </Mana_Content>
    </modules>
    <global>
        <blocks>
            <mana_content>
                <class>Mana_Content_Block</class>
            </mana_content>
        </blocks>
        <helpers>
            <mana_content>
                <class>Mana_Content_Helper</class>
            </mana_content>
        </helpers>
        <models>
            <mana_content>
                <class>Mana_Content_Model</class>
                <resourceModel>mana_content_resources</resourceModel>
            </mana_content>
            <mana_content_resources>
                <class>Mana_Content_Resource</class>
                <entities>
					<page_global><table>m_page_global</table></page_global>
					<page_globalCustomSettings><table>m_page_global_custom_settings</table></page_globalCustomSettings>
					<page_store><table>m_page_store</table></page_store>
					<page_storeCustomSettings><table>m_page_store_custom_settings</table></page_storeCustomSettings>
                </entities>
            </mana_content_resources>
        </models>
        <resources>
            <mana_content_setup>
                <setup>
                    <module>Mana_Content</module>
                </setup>
            </mana_content_setup>
        </resources>
        <index>
            <indexer>
                <mana_content_page translate="name description" module="mana_content">
                    <model>mana_content/page_indexer</model>
                    <name>CMS Books (MANAdev)</name>
                    <description>Recalculates books and feed page global and store-level settings</description>
                </mana_content_page>
                <mana_seo_url>
                    <sources>
                        <book_page><resource>mana_content/page_urlIndexer</resource></book_page>
                    </sources>
                    <depends>
                        <mana_content_page/>
                    </depends>
                </mana_seo_url>
            </indexer>
        </index>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Mana_Content>
                    <files>
                        <default>Mana_Content.csv</default>
                    </files>
                </Mana_Content>
            </modules>
        </translate>
        <layout>
            <updates>
                <mana_content>
                    <file>mana_content.xml</file>
                </mana_content>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <mana_content>
                <use>standard</use>
                <args>
                    <module>Mana_Content</module>
                    <frontName>content</frontName>
                </args>
            </mana_content>
        </routers>
        <layout>
            <updates>
                <mana_content>
                    <file>mana_content.xml</file>
                </mana_content>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mana_content before="Mage_Adminhtml">Mana_Content_Adminhtml</mana_content>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <mana_core>
        <page_types>
            <book_page>
                <helper>mana_content/pageType_book</helper>
                <seo_helper>mana_content/pageType_book</seo_helper>
            </book_page>
        </page_types>
    </mana_core>
    <default>
        <mana_content>
            <general>
                <opened_tree_depth>2</opened_tree_depth>
                <visible_title_char>15</visible_title_char>
            </general>
            <book>
                <save_mode>all</save_mode>
                <default_title>Untitled Page</default_title>
                <default_content>
{{block type="mana_content/childPageLinks"}}
                </default_content>
            </book>
        </mana_content>
    </default>
</config>