<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Mana
@package     Mana_Content
@copyright   Copyright (c) http://www.manadev.com
@license     http://www.manadev.com/license  Proprietary License
 -->
<config>
    <tabs>
        <mana>
            <label>MANAdev</label>
            <sort_order>250</sort_order>
        </mana>
    </tabs>
    <sections>
        <mana_content translate="label" module="mana_content">
            <label>Content Management</label>
            <tab>mana</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <visible_title_char translate="label comment">
                            <label>No. of Characters Visible in Tree</label>
                            <comment>Set the number of characters that is shown in tree item in Admin Panel</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </visible_title_char>
                    </fields>
                </general>
                <book translate="label">
                    <label>Books</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <save_mode translate="label comment">
                            <label>Save Mode</label>
                            <comment>Choose how often book page should be saved in Admin Panel</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>mana_content/source_saveMode</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </save_mode>
                        <default_title>
                            <label>Default Title</label>
                            <comment>Default value for field `Title` of book page</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </default_title>
                        <default_content>
                            <label>Default Content</label>
                            <comment>Default value for field `Content` of book page</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </default_content>

                    </fields>
                </book>
            </groups>
        </mana_content>
    </sections>
</config>